<div class = "w3-light-grey">
    <!-- Header -->

		<!-- Top Nav -->

        <div class = "w3-bar w3-padding w3-white w3-card-4" style = "top: 0px;">
          <div style="">
            <a  class = "w3-bar-item w3-hover-text-red "routerLink="/**" routerLinkActive="active">Home</a>

            <div class = "w3-right w3-bar-item w3-padding w3-padding-right">
            <a  class = "w3-blue w3-round w3-padding"style ="margin-right:16px;" routerLink="/profile" routerLinkActive="active">My Account<i class = "fa fa-edit" style = "margin-left: 16px;"></i></a>
            <a class = "w3-red w3-round w3-padding" routerLink="/**" routerLinkActive="active">Logout<i class = "fa fa-power-off" style = "margin-left: 16px; margin-right: 16px;"></i></a>
            </div>
          </div>
        </div>

		<!-- Top Nav End -->
		<div class = "w3-container w3-center" style = "margin-top: 20px; margin-bottom: 20px;">
			<h1 class = "w3-xxlarge" style = "font-family: Montserrat"><span class = "w3-xxlarge w3-text-red">Templates</span></h1>
			<p>Choose from our best collections of resume templates</p>
		</div>
		<!-- Header End -->

  <!-- Content -->
  <div class = "w3-container w3-content w3-card-4 w3-white w3-round" style = "margin-bottom: 50px; padding-bottom: 50px;">
    <div class = "w3-container w3-padding-large">
      <h4>Best Picks</h4>
    </div>
    <div>
      <div class = "w3-container w3-third ">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/fresher1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button class = "w3-btn w3-blue w3-round" (click)="openModal('../../assets/images/fresher1.jpg');" style = "width: 100%;">View</button>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Fresher</p>
        </div>
      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/Pro_temp1.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button  (click)="openModal('../../assets/images/Pro_temp1.png');"class = "w3-btn w3-blue w3-round" style = "width: 100%;">View</button>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Professional</p>
        </div>

      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/intern1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button  (click)="openModal('../../assets/images/intern1.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a  class = "w3-btn w3-red w3-margin-top w3-round" style = "width: 100%;" routerLink="/form1" routerLinkActive="active">Use Template</a>
          </div>
        </div>
      </div>

      <div class = "w3-center">
          <p>Intern</p>
      </div>
    </div>

    <div class = "w3-container w3-padding-large">
      <h4>Interns</h4>
    <div>
        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <button  (click)="openModal('../../assets/images/intern1.jpg');" class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active"style = "width: 100%;">Use Template</a>
            </div>
          </div>

          <div class = "w3-center">
            <p>Intern 1</p>
          </div>

        </div>

        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern2.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <button  (click)="openModal('../../assets/images/intern2.jpg');" class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active"style = "width: 100%;">Use Template</a>
            </div>
          </div>

          <div class = "w3-center">
            <p>Intern 2</p>
          </div>

        </div>

        <div class = "w3-container w3-third hidden">
          <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
            <img src = "../../assets/images/intern3.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
            <div class = "w3-display-middle w3-center hover-display">
              <button  (click)="openModal('../../assets/images/intern3.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
              <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
            </div>
          </div>

          <div class = "w3-center">
            <p>Intern 3</p>
          </div>

        </div>
      </div>
      </div>


    <div class = "w3-container w3-padding-large">
      <h4>Professionals</h4>
    </div>
    <div>
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/Pro_temp1.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button  (click)="openModal('../../assets/images/Pro_temp1.png');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Pro 1</p>
        </div>

      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/pro_temp2.png" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button (click)="openModal('../../assets/images/pro_temp2.png');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Pro 2</p>
        </div>

      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/resume.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button (click)="openModal('../../assets/images/resume.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Pro 3</p>
        </div>

      </div>
    </div>

    <div class = "w3-container w3-padding-large">
      <h4>Freshers</h4>
    </div>
    <div>
      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src =  "../../assets/images/fresher1.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button (click)="openModal('../../assets/images/fresher1.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Fresher 1</p>
        </div>

      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/fresher 2.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button (click)="openModal('../../assets/images/fresher 2.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Fresher 2</p>
        </div>

      </div>

      <div class = "w3-container w3-third hidden">
        <div class = "w3-white w3-card w3-round hover-expand w3-display-container" style = "height: 300px; margin-bottom: 16px;">
          <img src = "../../assets/images/resume.jpg" class = "w3-img " style = "height: 90%; margin-top: 5%; width: 100%; object-fit: contain;">
          <div class = "w3-display-middle w3-center hover-display">
            <button (click)="openModal('../../assets/images/resume.jpg');"class = "w3-btn w3-blue w3-round"  style = "width: 100%;">View</button>
            <a href = "#" class = "w3-btn w3-red w3-margin-top w3-round" routerLink="/form1" routerLinkActive="active" style = "width: 100%;">Use Template</a>
          </div>
        </div>

        <div class = "w3-center">
          <p>Fresher 3</p>
        </div>

      </div>
    </div>




  </div>

	<div class = "w3-container">
		<div class = "w3-modal" id = "modal">
			<div class = "w3-modal-content w3-card-4">
				<span (click) = "hideModal();" class="w3-button w3-display-topright">&times;</span>
				<div class = "w3-container">
					<img src = "" id = "img" style = "width: 100%;">
				</div>
			</div>
		</div>
	</div>



  <!-- Content End -->

  <!-- Footer -->

  <!-- Footer End -->

</div>
