<div class ="w3-light-grey">
	
    <!--header-->
    <div class = "w3-display-container w3-text-white w3-padding-small w3-center bg-img" style = "width: 100%;">
  
      <div class = "w3-display-middle">
        <h1 class = "w3-xxxlarge w3-animate-opacity" style = "animation-delay: 0.4s; font-family: Montserrat"><span class = "w3-text-red" style = "animation-delay: 0.4s;">Resume</span> Online</h1>
        <p class = "w3-padding w3-medium">Create your resume with 250+ templates</p>
  
        <div class = "w3-row-padding" style = "width: 400px;">
  
          <div class = "w3-col" style = "width: 45%;">
            <a class = "w3-btn w3-blue w3-padding w3-round w3-animate-right" style = "animation-delay: 0.4s; width: 160px;" routerLink="/login" routerLinkActive="active">Create Resume</a>
          </div>
          
          <div class = "w3-col" style = "width: 45%">
            <a class = "w3-btn w3-red w3-padding w3-round w3-animate-left" style = "animation-delay: 0.4s; width: 160px;" routerLink="/templates" routerLinkActive="active">View Templates</a>
        
      </div>
  
        </div>
        
      </div>
  
    </div>
    <!--header close-->
  
    